:root {
  --text-font-family: sans-serif;
}

/* Universal selector, for all elements, low priority */
/* Easy to override */
* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */
body {
  color: #444;
  font-family: var(--text-font-family);
  border-top: 10px solid #1098ad;
  /* margin: 0; */
}

.container {
  width: 800px;
  /* margin left and right must be the same (Center container) */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  position: relative;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px; /*20px top bottom. 40px left right*/
  margin-bottom: 60px;
  height: 80px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

/* List of selectors */

/* h1,
h2,
h3,
h4,
p,
li {
  font-family: var(--text-font-family);
  color: #444;
} */

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #0836ab;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
/* Last list's element do not have any margin */
li:last-child {
  margin-bottom: 0;
}

/* body {
  background-color: #fef2e7;
} */
/* ul {
  list-style: none;
} */

/* Descendant selector */
/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

/* ID. It can just be added once in a html item*/
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* Class. To reuse */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* .first-li {
  font-weight: bold;
} */

/* SUDO Class: Perfect when all the child elements are the same!*/
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(odd) {
  color: red;
}

/* This won't work, as its looking for the first child of the article and expects to be p. But the first child of article is not p element. */
/* article p:first-child {
  color: red;
} */

/* article p:last-child {
  color: red;
} */

/* Styling links */

/* Not good practice. Just target a elements (a elements can not have a name). */
/* a {
  color: #1098ad;
}
 */

/* Always define in this order LVHA (LinkVisitedHoverActive) */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  /* No vertical space created for inline elements 
  margin: 20px;
  padding: 20px;
  Change to block element
  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

/* Absolute position elementes */
button {
  font-size: 22px;
  padding: 20px;
  /* Change cursor property */
  cursor: pointer;

  position: absolute;
  /* top: 50px;
  left: 50px; */
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* h3 + p::first-line {
  color: red;
} */

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  /* Absolute position. It requires parent to have a relative position.*/
  position: absolute;
  top: -15px;
  right: -25px;
}

/* Conflictive selectors, when styles apply in the same element. 
Priority by selectors and if there are multimple selectors of the same type, the last in code applies.
1. Declarations marked !important
2. Inline style (in HTML)
3. ID selectors (#)
4. Class (.) or pseudo-class (:)
5. Element selector (p, div, lid, ...)
6. Universal selector (*)
*/

/* Resolving conflicts */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* Block level boxes
- formatted visually as blocks
- 100% of parent's width
- Vertically, one after another
- Box-model applies as showed
 */

/* Inline boxes
 - Occupies only content's space
 - Causes no line-breaks
 - Box model in different: heights and widths do not apply
 - Paddings on margins only horizontal
 - a, img, strong, em, button...
 */

/* Inline-block boxes
 - Looks like inline from the outside, behaves like block-level on the inside
 - Occupies only content's space
 - Causes no line-breaks
 - Box-model applies as showed
 */
